* {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: rgb(75, 136, 75);
}

p {
  font-size: 20px;
  text-align: center;
  color: white;
}

/* .search-input {
  width: 40%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 0 0 50px;
 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  margin-bottom: 10px;
}

.search-input:focus {
  outline: none;
  border-color: #3e49b1; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
} */

