   .subscription-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }
  
  .home-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px; 
    height: 40px;
  }
  
  .home-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
  }
  
  h2, h3, p {
    text-align: center;
    color: #3e49b1;
  }
  
  button {
    background-color: #3e49b1;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .tea-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 20px;
  }
  
  .tea-image {
    width: 50%; 
    max-width: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .customer-box, .tea-box {
    background-color: #f9f9f9;
    width: 80%;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
  }
  
  .detail-section h2 {
    font-size: 45px;
    padding-bottom: 1%;
    padding-top: 1%;
    color: #3e49b1;
  }
  
  .detail-section p {
    font-size: 15px;
    color: black;
    padding: 5px 0;
  }